<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.AiDictionaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.AiDictionary">
        <id column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>
    <select id="selectWord" resultMap="BaseResultMap">
        SELECT * FROM ai_dictionary where name not in (#{str}) ORDER BY rand() LIMIT 1;
    </select>
</mapper>
